*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url(../img/unnamed.png);
	padding-top: 80px;
	padding-bottom: 50px;
	font-size: 14px;
	font-family: Arial, sans-serif;
	position: relative;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
}
audio{
	z-index: 0;
}
/*
	Header
*/
.nav{
	position: fixed;
	top: 0px;
	border: 1px solid grey;
	height: 80px;
	width: 100%;
	background-image: url(../img/unnamed.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-box-shadow: 2px 10px 22px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 10px 22px 1px rgba(0,0,0,0.75);
	box-shadow: 2px 10px 22px 1px rgba(0,0,0,0.75);
}
.nav a {
	position: relative;
	top: 25px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 25px;
	color: grey;
	text-transform: uppercase;
}
.nav a:hover{
	text-decoration: none;
}
/* 
	Body
*/
.OnMyWorkingTable{
	text-align: center;
	padding-bottom: 20px;

	border: 1px solid grey;
	border-top: 2px solid grey;
}
.OnMyWorkingTable > h2 {
	font-size: 19px;
	font-weight: bold;
}
.btn-danger{
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
}
.btn-danger:hover{
	color: #D84D4D;
	text-decoration: none;
}
.audio {
	width: 100%;
	margin: 10px;
	text-align: center;
}
.carousel_custom{
	height: 100%;
}
/*
	Footer
*/
.footer {
	margin-top: 40px;
	width: 100%;
	height: 90px;
	background: grey;
	text-align: center;

	border-top: 2px solid red;
}